defaults: &defaults
  docker:
    - image: circleci/node:10

git-login: &git-login
  name: Setting up git user
  command: git config --global user.email ci@ls-age.com && git config --global user.name "ls-age CI"

version: 2
jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-npm-deps-{{ checksum "package-lock.json" }}
            - v2-npm-deps
      - run:
          name: Installing npm dependencies
          command: npm ci
      - save_cache:
          key: v2-npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Building app
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - __sapper__

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run ESLint
          command: npm run lint -- --format junit --output-file ~/reports/eslint.xml
      - store_test_results:
          path: ~/reports
          when: always
      - store_artifacts:
          path: ~/reports
          when: always

  test:
    <<: *defaults
    docker:
      - image: cypress/base:10
        environment:
          # Enable colors in the output
          TERM: xterm
    working_directory: /home/circleci/project
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - v2-npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Put cypress binary in place
          command: |
            mkdir -p /root/.cache
            mv /home/circleci/.cache/Cypress ~/.cache/Cypress
      - run:
          name: Running tests
          command: npm run test:ci
      - store_test_results:
          path: test/report
      - store_artifacts:
          path: test/report

workflows:
  version: 2

  default:
    jobs:
      - install
      - build:
          requires:
            - install
      - lint:
          requires:
            - install
      - test:
          requires:
            - build
